/* collection_in.css */

#container{min-width: 960px; width:auto; height: auto; margin: 0 auto; /*background-color: #aaa;*/}

/* header영역------------------------------------------------------ */
#header{min-width: 960px; max-width:1920px; width:auto; height: 100px; background-color: #662727; margin: 0 auto; position: relative;}
#header::before{content:" "; display: block; width: 100vw; height: 100%; background-color:inherit;
    position: absolute; z-index: -100; top: 0; left: 50%; margin-left: -50vw;}
h1{width: 242px; height: 90px; background-image: url(../../img/logo_01.png); background-repeat: no-repeat; margin-left: 380px; float: left; margin-top: 25px;}

nav{width: 840px; height: 100px; float: right; margin-right: 380px;}

nav>.unb{width: 70px; height: 18px; float: right; margin-top: 20px;}
nav>.unb>li{float: left;}
nav>.unb>li>a{color: #fff; font-size: 16px;}

nav>.gnb{width: 800px; height: 24px; float: right; margin-top: 36px;}
nav>.gnb>li{float: left; margin-left: 100px;}
nav>.gnb>li>a{color: #fff; font-size: 24px;}


/*nav>.gnb>li>a:hover{color: #fff; font-weight: bold;}*/

.title{width: 112px; height: 24px; font-size: 24px; color: #662727; margin-left: 480px; margin-top: 34px;}

.line_box{width: 960px; height: 5px; margin: 0 auto; border-top: 3px solid #662727; margin-top: 30px;}

select,
join_write input{width: 152px; height: 28px; background-color: #fff; display: block; margin-bottom: 8px; margin-left: 480px; margin-top: 20px; }

#arrow_left{width: 124px; height: 260px; background-image: url(../../img/collection/arrow_left_02.png); float: left; margin-left: 310px; margin-top: 300px;}
#arrow_right{width: 124px; height: 260px; background-image: url(../../img/collection/arrow_right_02.png); float: right; margin-right: 309px; margin-top: 300px;}


#article{width: 1070px; height: 840px; background-color: #eaeaea; margin: 0 auto; margin-top: 20px; box-sizing: border-box; padding: 20px; position: relative;}
.x_icon{width: 50px; height: 50px; /*background-color: #fdd;*/ background-image: url(../../img/collection/x_icon.png);  margin-bottom: -20px; position: absolute; top: -15px; right: -15px;}
#article .img_01{width: 515px; height: 800px; background-image: url(../../img/collection/collection_05.png); float: left;}
#article .img_02{width: 515px; height: 800px; background-image: url(../../img/collection/collection_06.png); float: right;}



#footer{width: 100%; height: 300px; margin: 0 auto; margin-top: 50px; background-color: #787878;}
#footer>.logo_01{width: 1200px; height: 138px; background-image: url(../../img/footer_01.jpg); margin: 0 auto;}
#footer>.info{width: 100%; height: 159px;  background-image: url(../../img/footer_02.jpg); background-repeat: no-repeat; background-position: center; border-top: 3px solid #fff;}
