/* event_in.css */

#container{min-width: 960px; width:auto; height: auto; margin: 0 auto; /*background-color: #aaa;*/}

/* header영역------------------------------------------------------ */
#header{min-width: 960px; max-width:1920px; width:auto; height: 100px; background-color: #662727; margin: 0 auto; position: relative;}
#header::before{content:" "; display: block; width: 100vw; height: 100%; background-color:inherit;
    position: absolute; z-index: -100; top: 0; left: 50%; margin-left: -50vw;}
h1{width: 242px; height: 90px; background-image: url(../../img/logo_01.png); background-repeat: no-repeat; margin-left: 380px; float: left; margin-top: 25px; position: absolute;}
h1>a{width: 242px; height: 90px; display: block;}

nav{width: 840px; height: 100px; float: right; margin-right: 380px;}

nav>.unb{width: 70px; height: 18px; float: right; margin-top: 20px;}
nav>.unb>li{float: left;}
nav>.unb>li>a{color: #fff; font-size: 16px;}

nav>.gnb{width: 800px; height: 24px; float: right; margin-top: 36px;}
nav>.gnb>li{float: left; margin-left: 100px;}
nav>.gnb>li>a{color: #fff; font-size: 24px;}


/*nav>.gnb>li>a:hover{color: #fff; font-weight: bold;}*/

.title{width: 112px; height: 24px; font-size: 24px; color: #662727; margin-left: 480px; margin-top: 34px;}

.line_box{width: 960px; height: 3px; margin: 0 auto; border-top: 3px solid #662727; margin-top: 30px;}

#main{width: 960px; height: 850px; margin: 0 auto; background-image: url(../../img/event/big_event_03.png); margin-top: 27px; }

#section{width: 960px; height: 280px; margin: 0 auto; margin-top: 28px;}
#section p{width: 960px; height: 35px; font-size: 0.9rem;}

#section .text_01{height: 20px; font-size: 1rem; color: #662727; font-weight: bold; margin-top: 25px; margin-left: 10px;}
#section .text_02{font-size: 0.9em; margin-left: 30px; margin-top: 10px;}

#section .text_03{height: 20px; font-size: 1rem; color: #662727; font-weight: bold; margin-top: 25px; margin-left: 10px;}
#section .text_04{font-size: 0.9em; margin-left: 30px; margin-top: 10px;}

#section .text_05{height: 20px; font-size: 1rem; color: #662727; font-weight: bold; margin-top: 25px; margin-left: 10px;}
#section .text_06{width: 930px; font-size: 0.9em; margin-left: 30px; margin-top: 10px;}
#section .text_06 span{font-weight: bold;}

#section .go{width: 150px; height: 36px; background-color: #662727; color: #fff; float: right; margin-top: 58px; font-weight: bold;}


/* footer영역--------------------------------------------------------------- */
#footer{width: 100%; height: 300px; margin: 0 auto; margin-top: 100px; background-color: #787878;}
#footer>.logo_01{width: 1200px; height: 138px; background-image: url(../../img/footer_01.jpg); margin: 0 auto;}
#footer>.info{width: 100%; height: 159px;  background-image: url(../../img/footer_02.jpg); background-repeat: no-repeat; background-position: center; border-top: 3px solid #fff;}