/* place/jewelry.css */

#container{min-width: 960px; width:auto; height: auto; margin: 0 auto; /*background-color: #aaa;*/}

/* header영역------------------------------------------------------ */
#header{min-width: 960px; max-width:1920px; width:auto; height: 100px; background-color: #662727; margin: 0 auto; position: relative;}
#header::before{content:" "; display: block; width: 100vw; height: 100%; background-color:inherit;
    position: absolute; z-index: -100; top: 0; left: 50%; margin-left: -50vw;}
h1{width: 242px; height: 90px; background-image: url(../../img/logo_01.png); background-repeat: no-repeat; margin-left: 380px; float: left; margin-top: 25px; position: absolute;}
h1>a{width: 242px; height: 90px; display: block;}

nav{width: 840px; height: 100px; float: right; margin-right: 380px;}

nav>.unb{width: 70px; height: 18px; float: right; margin-top: 20px;}
nav>.unb>li{float: left;}
nav>.unb>li>a{color: #fff; font-size: 16px;}

nav>.gnb{width: 800px; height: 24px; float: right; margin-top: 36px;}
nav>.gnb>li{float: left; margin-left: 100px;}
nav>.gnb>li>a{color: #fff; font-size: 24px;}

/*nav>.gnb>li>a:hover{color: #fff; font-weight: bold;}*/

.title{width: 112px; height: 24px; font-size: 24px; color: #662727; margin-left: 480px; margin-top: 34px;}
.line_box{width: 960px; height: 3px; margin: 0 auto; border-top: 3px solid #662727; margin-top: 30px;}

.name{width: 960px; height: 25px; font-size: 2rem; color: #662727; margin-left: 480px; margin-top: 30px;}

#section{width: 960px; height: 450px; margin: 0 auto; margin-top: 30px;}
#section .img_box{width: 585px; height: 321px; background-image: url(../../img/p_j/p_j_in_11.png); float: left;}
#section .ptag{width: 350px; height: 321px; float: left; }
#section .title_01{width: 60px; margin-left: 30px; font-weight: bold; margin-top: 20px;}
#section .text_01{width: 90px; font-size: 0.9em; margin-left: 100px; margin-top: -18px;}
#section .title_02{width: 80px; margin-left: 30px; font-weight: bold; margin-top: 35px;}
#section .text_02{width: 250px; font-size: 0.9em; margin-left: 110px; margin-top: -18px;}
#section .title_03{width: 80px; margin-left: 30px; font-weight: bold; margin-top: 35px;}
#section .text_03{font-size: 0.9em; margin-left: 110px; margin-top: -18px;}

#article{width: 960px; height: 180px; margin: 0 auto; box-sizing: border-box; padding-top: 5px;}
#article .other{width: 120px; height: 20px; font-size: 1rem;}
#article .other_img{width: 960px; height: 160px;}
#article .other_img ul{width: 870px; height: 150px; margin: 0 auto;}
#article .other_img ul li{width: 150px; height: 150px; float: left; margin-top: 10px;}
 #article .other_img .img_box_01{background-image: url(../../img/p_j/p_j_in_02.png);}
#article .other_img .img_box_01 a{width: 150px; height: 150px; display: block;}
 #article .other_img .img_box_02{background-image: url(../../img/p_j/p_j_in_03.png); margin-left: 30px;}
#article .other_img .img_box_02 a{width: 150px; height: 150px; display: block;}
 #article .other_img .img_box_03{background-image: url(../../img/p_j/p_j_in_04.png); margin-left: 30px;}
 #article .other_img .img_box_04{background-image: url(../../img/p_j/p_j_in_05.png); margin-left: 30px;}
 #article .other_img .img_box_05{background-image: url(../../img/p_j/p_j_in_06.png); float: right;}



/* footer영역--------------------------------------------------------------- */
#footer{width: 100%; height: 300px; margin: 0 auto; margin-top: 100px; background-color: #787878;}
#footer>.logo_01{width: 1200px; height: 138px; background-image: url(../../img/footer_01.jpg); margin: 0 auto;}
#footer>.info{width: 100%; height: 159px;  background-image: url(../../img/footer_02.jpg); background-repeat: no-repeat; background-position: center; border-top: 3px solid #fff;}